<div th:fragment="form">
    <input type="hidden" th:field="*{id}">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="home">Squadra di casa</label>
        <div class="col-sm-4">
        	  <select class="form-control" th:field="*{home}" required>
        		    <option value="" text=""></option>
                <option th:each="team : ${teams}"
                        th:value="${team.id}"
                        th:text="${team}">
                </option>
            </select>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('home')}" th:errors="*{home}"></div>
        </div>
        <label class="col-sm-2 col-form-label" for="homeGoals">Goal</label>
        <div class="col-sm-4"><input class="form-control" type="number" th:field="*{homeGoals}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('homeGoals')}" th:errors="*{homeGoals}"></div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="away">Squadra in trasferta</label>
        <div class="col-sm-4">
        	  <select class="form-control" th:field="*{away}" required>
        		    <option value="" text=""></option>
                <option th:each="team : ${teams}"
                        th:value="${team.id}"
                        th:text="${team}">
                </option>
            </select>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('away')}" th:errors="*{away}"></div>

        <label class="col-sm-2 col-form-label" for="awayGoals">Goal</label>
        <div class="col-sm-4"><input class="form-control" type="number" th:field="*{awayGoals}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('awayGoals')}" th:errors="*{awayGoals}"></div>
    </div>
    <div class="alert alert-danger" role="alert" th:errors="*{homeAndAwayNotEqual}"></div>
    <div class="alert alert-danger" role="alert" th:errors="*{fullScoreOrNone}"></div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="stadium">Stadio</label>
        <div class="col-sm-4">
        	  <select class="form-control" th:field="*{stadium}" required>
        		    <option value="" text=""></option>
                <option th:each="stadium : ${stadiums}"
                        th:value="${stadium.id}"
                        th:text="${stadium}">
                </option>
            </select>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('stadium')}" th:errors="*{stadium}"></div>

        <label class="col-sm-2 col-form-label" for="at">Data</label>
        <div class="col-sm-4"><input class="form-control" type="date" th:field="*{at}" required></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('at')}" th:errors="*{homeGoals}"></div>
    </div>
</div>
