<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Partite</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <div th:insert="~{resource_base/header :: header}"></div>
  <div class="col-12">
    <div class="jim quadrant">
      <form class="row row-cols-lg-auto g-3" action="#" method="get">
        <div class="col-12">
          <button type="button" onclick="matchManager.create()" class="col-12 btn btn-success"><i
              class="fa-solid fa-plus"></i></button>
        </div>
      </form>
    </div>
    <table class="jim quadrant">
      <thead>
        <tr>
          <th class="col-1">#</th>
          <th class="col-2">Casa</th>
          <th class="col-2">Trasferta</th>
          <th class="col-2">Punteggio</th>
          <th class="col-2">Stadio</th>
          <th class="col-2">Data</th>
          <th class="col-2"></th>
        </tr>
      </thead>
      <tbody th:each="match : ${matches}">
        <tr th:id="${match.id}">
          <th scope="row" th:text="${match.id}"></th>
          <td><a th:href="@{/teams/__${match.home.id}__}" th:text="${match.home}"></a></td>
          <td><a th:href="@{/teams/__${match.away.id}__}" th:text="${match.away}"></a></td>
          <td th:text="${match.getScore()}"></td>
          <td><a th:href="@{/stadiums/__${match.stadium.id}__}" th:text="${match.stadium}"></a></td>
          <td th:text="${match.at}"></td>
          <td>
            <button th:onclick="'matchManager.show('+${match.id}+')'" class="btn btn-primary"><i
                class="fa-solid fa-eye"></i></button>
            <button th:onclick="'matchManager.edit('+${match.id}+')'" class="btn btn-warning"><i
                class="fa-solid fa-pen-to-square"></i></button>
            <button th:onclick="'matchManager.destroy('+${match.id}+')'" class="btn btn-danger"><i
                class="fa-solid fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>