<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${match}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:insert="~{resource_base/header :: header}"></div>
	<div class="jim frame">
		<div class="jim quadrant">
			<button th:onclick="matchManager.index()" class="btn btn-primary">Indietro <i class="fa-solid fa-backward"></i></button>
			<button th:onclick="'matchManager.edit('+${match.id}+')'" class="btn btn-primary">Modifica <i
					class="fa-solid fa-pen-to-square"></i></button>
			<button th:onclick="'matchManager.destroy('+${match.id}+')'" class="btn btn-danger">Elimina <i
					class="fa-solid fa-trash"></i></button>
		</div>
		<table class="jim quadrant">
			<tbody>
				<tr>
					<td class="col-3 text-center font-weight-bold">Id</td>
					<td class="col-3 text-center" th:text="${match.id}"></td>
				</tr>
				<tr>
					<td class="text-center font-weight-bold">Squadra di casa</td>
					<td class="text-center" th:text="${match.home}"></td>
				</tr>
				<tr>
					<td class="text-center font-weight-bold">Squadra di trasferta</td>
					<td class="text-center" th:text="${match.away}"></td>
				</tr>
				<tr>
					<td class="text-center font-weight-bold">Punteggio</td>
					<td class="text-center" th:text="${match.getScore()}"></td>
				</tr>
				<tr>
					<td class="text-center font-weight-bold">Stadio</td>
					<td class="text-center" th:text="${match.stadium}"></td>
				</tr>
				<tr>
					<td class="text-center font-weight-bold">Data</td>
					<td class="text-center" th:text="${match.at}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
