<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  </head>
  <body>
    <div th:fragment="include">
      <!-- Style -->
      <link th:href="@{/css/index.css}" rel="stylesheet">
      <!-- JS -->
      <script th:src="@{/js/index.js}"></script>
      <!-- Bootstrap -->
      <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
      <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
      <!-- Font Awesome -->
      <link th:href="@{/webjars/font-awesome/css/all.min.css}" rel="stylesheet">
      <!-- JQuery -->
      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>

      <!-- PNotify -->
      <link th:href="@{/webjars/pnotify__core/dist/PNotify.css}" rel="stylesheet" />
      <script th:src="@{/webjars/pnotify__core/dist/PNotify.js}"></script>
    </div>
  </body>
</html>
