<div th:fragment="form">
    <input type="hidden" th:field="*{id}">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="name">Nome</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{name}" required>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="teams">Squadre</label>
        <div class="col-sm-10">
        	<select class="form-select" multiple th:field="*{teams}">
        		<option value="" text=""></option>
                <option th:each="team : ${teams}"
                    th:value="${team.id}"
                    th:text="${team}">
                </option>
          </select>
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('teams')}" th:errors="*{teams}"></div>
        </div>
    </div>
</div>
