<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="${sponsor}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:insert="~{resource_base/header :: header}"></div>
	<div class="jim frame">
		<div class="jim quadrant">
			<button th:onclick="sponsorManager.index()" class="btn btn-primary">Indietro <i class="fa-solid fa-backward"></i></button>
			<button th:onclick="'sponsorManager.edit('+${sponsor.id}+')'" class="btn btn-primary">Modifica <i
					class="fa-solid fa-pen-to-square"></i></button>
			<button th:onclick="'sponsorManager.destroy('+${sponsor.id}+')'" class="btn btn-danger">Elimina <i
					class="fa-solid fa-trash"></i></button>
		</div>
		<table class="jim quadrant">
			<tbody>
				<tr>
					<td class="col-3 text-center font-weight-bold">Id</td>
					<td class="col-3 text-center" th:text="${sponsor.id}"></td>
				</tr>
				<tr>
					<td class="text-center font-weight-bold">Nome</td>
					<td class="text-center" th:text="${sponsor.name}"></td>
				</tr>
			</tbody>
		</table>
	</div>
    <table class="jim quadrant" th:if="${sponsor.teams.size() > 0}">
      <h2 style="text-align: center;">Squadre</h2>
      <thead>
        <tr>
          <th class="col-1">#</th>
          <th class="col-2">Name</th>
          <th class="col-1">Citta</th>
          <th class="col-1">Colore</th>
          <th class="col-2">Allenatore</th>
          <th class="col-2">Stadio</th>
          <th class="col-1">Riserva di</th>
        </tr>
      </thead>
      <tbody th:each="team : ${sponsor.teams}">
        <tr th:id="${team.id}">
          <th scope="row" th:text="${team.id}"></th>
          <td>
          	<a th:href="@{/teams/__${team.id}__}" th:text="${team}"></a>
          </td>
          <td th:text="${team.city}"></td>
          <td th:text="${team.color}"></td>
          <td th:if="${team.coach != null}">
          	<a th:href="@{/coaches/__${team.coach.id}__}" th:text="${team.coach}"></a>
          </td>
          <td th:if="${team.coach == null}"></td>
          <td th:if="${team.stadium != null}">
          	<a th:href="@{/stadiums/__${team.stadium.id}__}" th:text="${team.stadium}"></a>
          </td>
          <td th:if="${team.stadium == null}"></td>
          <td th:if="${team.parent != null}">
          	<a th:href="@{/teams/__${team.parent.id}__}" th:text="${team.parent}"></a>
          </td>
          <td th:if="${team.parent == null}"></td>
        </tr>
      </tbody>
    </table>
</body>
</html>
