<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${coach}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div th:insert="~{resource_base/header :: header}"></div>
  <div class="jim frame">
    <div class="jim quadrant">
	    <button th:onclick="coachManager.index()" class="btn btn-primary">Indietro <i class="fa-solid fa-backward"></i></button>
	    <button th:onclick="'coachManager.edit('+${coach.id}+')'" class="btn btn-primary">Modifica <i class="fa-solid fa-pen-to-square"></i></button>
	    <button th:onclick="'coachManager.destroy('+${coach.id}+')'" class="btn btn-danger">Elimina <i class="fa-solid fa-trash"></i></button>
    </div>
    <table class="jim quadrant">
      <tbody>
        <tr>
        	<td class="col-3 text-center font-weight-bold">Id</td>
        	<td class="col-3 text-center" th:text="${coach.id}"></td>
        </tr>
        <tr>
        	<td class="text-center font-weight-bold">Nome</td>
        	<td class="text-center" th:text="${coach.firstName}"></td>
        </tr>
        <tr>
        	<td class="text-center font-weight-bold">Cognome</td>
        	<td class="text-center" th:text="${coach.lastName}"></td>
        </tr>
        <tr>
        	<td class="text-center font-weight-bold">Squadra</td>
        	<td class="text-center" th:text="${coach.team}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
