<div th:fragment="form">
    <input type="hidden" th:field="*{id}">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="firstName">Nome</label>
        <div class="col-sm-10">
	        <input class="form-control" type="text" th:field="*{firstName}" required>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="lastName">Cognome</label>
        <div class="col-sm-10">
	        <input class="form-control" type="text" th:field="*{lastName}" required>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="team">Squadra</label>
        <div class="col-sm-10">
        	<select class="form-control" th:field="*{team}">
        		<option value="" text=""></option>
            <option th:each="team : ${teams}"
                th:value="${team.id}"
                th:text="${team}">
            </option>
          </select>
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('team')}" th:errors="*{team}"></div>
        </div>
    </div>
</div>
