<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Calciatori</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <div th:insert="~{resource_base/header :: header}"></div>
  <div class="col-12">
    <div class="jim quadrant">
      <form class="row row-cols-lg-auto g-3" action="#" method="get">
        <div class="col-12">
	        <input class="form-control" type="text" name="firstName" id="firstName" placeholder="Nome" th:value="${firstName}">
    	</div>
        <div class="col-12">
	        <input class="form-control" type="text" name="lastName" id="lastName" placeholder="Cognome" th:value="${lastName}">
        </div>
        <div class="col-12">
	        <input class="form-control" type="text" name="city" id="city" placeholder="Citta" th:value="${city}">
        </div>
        <div class="col-sm-10">
        	<select class="form-control" id="color" name="color" th:value="${color}">
        		<option value="" text="">Colore</option>
	            <option th:each="tcolor : ${colors}"
	                th:value="${tcolor}"
	                th:text="${tcolor}">
	            </option>
	        </select>
        </div>
        <div class="col-12">
        	<button type="submit" class="col-12 btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="col-12">
    	    <button type="reset" class="col-12 btn btn-primary"><i class="fa-solid fa-broom"></i></button>
        </div>
        <div class="col-12">
	        <button type="button" onclick="playerManager.create()" class="col-12 btn btn-success"><i class="fa-solid fa-plus"></i></button>
        </div>
      </form>
    </div>
    <table class="jim quadrant">
      <thead>
        <tr>
          <th class="col-1">#</th>
          <th class="col-3">Nome</th>
          <th class="col-3">Cognome</th>
          <th class="col-3">Squadra</th>
          <th class="col-2"></th>
        </tr>
      </thead>
      <tbody th:each="player : ${players}">
        <tr th:id="${player.id}">
          <th scope="row" th:text="${player.id}"></th>
          <td th:text="${player.firstName}"></td>
          <td th:text="${player.lastName}"></td>
          <td th:if="${player.team != null}">
          	<a th:href="@{/teams/__${player.team.id}__}" th:text="${player.team}"></a>
          </td>
          <td th:if="${player.team == null}"></td>
          <td>
            <button th:onclick="'playerManager.show('+${player.id}+')'" class="btn btn-primary"><i class="fa-solid fa-eye"></i></button>
            <button th:onclick="'playerManager.edit('+${player.id}+')'" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></button>
            <button th:onclick="'playerManager.destroy('+${player.id}+')'" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
