.quadrant.jim {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 5px;
    padding: 1.5%;
}

.frame.jim {
	display: grid;
	grid-template-columns: 50% 50%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 5px;
    padding: 1.5%;
}

th, td {
  padding: 10px;
}
