<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  <title th:text="${stadium}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div th:insert="~{resource_base/header :: header}"></div>
    <div class="jim quadrant">
	    <button th:onclick="'stadiumManager.show('+${stadium.id}+')'" class="btn btn-primary">Annulla <i class="fa-solid fa-eye"></i></button>
	    <button th:onclick="'stadiumManager.destroy('+${stadium.id}+')'" class="btn btn-danger">Elimina <i class="fa-solid fa-trash"></i></button>
    </div>
    <div class="jim quadrant">
	    <form th:href="@{/stadiums/__${stadium.id}__/edit}" method="post" th:object="${stadium}">
	      <div th:insert="~{stadiums/form :: form}"></div>
	      <button type="submit" class="btn btn-primary">Aggiorna</button>
	      <button type="reset" class="btn btn-warning">Pulisci</button>
	      <button type="delete" class="btn btn-danger">Elimina</button>
	    </form>
    </div>
  </body>
</html>
