<div th:fragment="form">
    <input type="hidden" th:field="*{id}">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="name">Nome</label>
        <div class="col-sm-10">
	        <input class="form-control" type="text" th:field="*{name}" required>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="capacity">Capacita'</label>
        <div class="col-sm-10">
	        <input class="form-control" type="number" th:field="*{capacity}" required>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></div>
    </div>
</div>
