<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Stadi</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <div th:insert="~{resource_base/header :: header}"></div>
  <div class="col-12">
    <div class="jim quadrant">
      <form class="row row-cols-lg-auto g-3" action="#" method="get">
        <div class="col-12">
	        <input class="form-control" type="text" name="name" id="name" placeholder="Nome" th:value="${name}">
    	</div>
        <div class="col-12">
        	<button type="submit" class="col-12 btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="col-12">
    	    <button type="reset" class="col-12 btn btn-primary"><i class="fa-solid fa-broom"></i></button>
        </div>
        <div class="col-12">
	        <button type="button" onclick="stadiumManager.create()" class="col-12 btn btn-success"><i class="fa-solid fa-plus"></i></button>
        </div>
      </form>
    </div>
    <table class="jim quadrant">
      <thead>
        <tr>
          <th class="col-2">#</th>
          <th class="col-4">Nome</th>
          <th class="col-4">Capacità</th>
          <th class="col-2"></th>
        </tr>
      </thead>
      <tbody th:each="stadium : ${stadiums}">
        <tr th:id="${stadium.id}">
          <th scope="row" th:text="${stadium.id}"></th>
          <td th:text="${stadium.name}"></td>
          <td th:text="${stadium.capacity}"></td>
          <td>
            <button th:onclick="'stadiumManager.show('+${stadium.id}+')'" class="btn btn-primary"><i class="fa-solid fa-eye"></i></button>
            <button th:onclick="'stadiumManager.edit('+${stadium.id}+')'" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></button>
            <button th:onclick="'stadiumManager.destroy('+${stadium.id}+')'" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
