<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${stadium}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div th:insert="~{resource_base/header :: header}"></div>
  <div class="jim frame">
    <div class="jim quadrant">
	    <button th:onclick="stadiumManager.index()" class="btn btn-primary">Indietro <i class="fa-solid fa-backward"></i></button>
	    <button th:onclick="'stadiumManager.edit('+${stadium.id}+')'" class="btn btn-primary">Modifica <i class="fa-solid fa-pen-to-square"></i></button>
	    <button th:onclick="'stadiumManager.destroy('+${stadium.id}+')'" class="btn btn-danger">Elimina <i class="fa-solid fa-trash"></i></button>
    </div>
    <table class="jim quadrant">
      <tbody>
        <tr>
        	<td class="col-3 text-center font-weight-bold">Id</td>
        	<td class="col-3 text-center" th:text="${stadium.id}"></td>
        </tr>
        <tr>
        	<td class="text-center font-weight-bold">Nome</td>
        	<td class="text-center" th:text="${stadium.name}"></td>
        </tr>
        <tr>
        	<td class="text-center font-weight-bold">Capacità</td>
        	<td class="text-center" th:text="${stadium.capacity}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
