<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${team}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:insert="~{resource_base/header :: header}"></div>
	<div class="jim quadrant">
		<button th:onclick="'teamManager.show('+${team.id}+')'" class="btn btn-primary">Annulla <i
				class="fa-solid fa-eye"></i></button>
		<button th:onclick="'teamManager.destroy('+${team.id}+')'" class="btn btn-danger">Elimina <i
				class="fa-solid fa-trash"></i></button>
	</div>
	<div class="jim quadrant">
		<form th:href="@{/teams/__${team.id}__/edit}" method="post" th:object="${team}">
			<div th:insert="~{teams/form :: form}"></div>
			<button type="submit" class="btn btn-primary">Aggiorna</button>
			<button type="reset" class="btn btn-warning">Pulisci</button>
			<button type="delete" class="btn btn-danger">Elimina</button>
		</form>
	</div>
</body>
</html>
