<div th:fragment="form">
    <input type="hidden" th:field="*{id}">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="name">Nome</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{name}" required>
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <label class="col-sm-2 col-form-label" for="city">Citta</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" th:field="*{city}">
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
        <label class="col-sm-2 col-form-label" for="color">Colore</label>
        <div class="col-sm-10">
        	<select class="form-control" th:field="*{color}">
        		<option value="" text=""></option>
            <option th:each="color : ${colors}"
                th:value="${color}"
                th:text="${color}">
            </option>
          </select>
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="coach">Allenatore</label>
        <div class="col-sm-10">
        	<select class="form-control" th:field="*{coach}">
        		<option value="" text=""></option>
            <option th:each="coach : ${coaches}"
                th:value="${coach.id}"
                th:text="${coach}">
            </option>
          </select>
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('coach')}" th:errors="*{coach}"></div>
        </div>
        
        <label class="col-sm-2 col-form-label" for="stadium">Stadio</label>
        <div class="col-sm-10">
        	<select class="form-control" th:field="*{stadium}">
        		<option value="" text=""></option>
            <option th:each="stadium : ${stadiums}"
                th:value="${stadium.id}"
                th:text="${stadium}">
            </option>
          </select>
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('stadium')}" th:errors="*{stadium}"></div>
        </div>

        <label class="col-sm-2 col-form-label" for="parent">Riserva di</label>
        <div class="col-sm-10">
        	<select class="form-control" th:field="*{parent}">
        		<option value="" text=""></option>
            <option th:each="team : ${teams}"
                th:value="${team.id}"
                th:text="${team}">
            </option>
          </select>
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('parent')}" th:errors="*{parent}"></div>
        </div>
    </div>
</div>
