<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Squadre</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <div th:insert="~{resource_base/header :: header}"></div>
  <div class="col-12">
    <div class="jim quadrant">
      <form class="row row-cols-lg-auto g-3" action="#" method="get">

        <div class="col-12">
          <input class="form-control" type="text" name="name" id="name" placeholder="Nome" th:value="${name}">
        </div>
        <div class="col-12">
          <button type="submit" class="col-12 btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="col-12">
          <button type="reset" class="col-12 btn btn-primary"><i class="fa-solid fa-broom"></i></button>
        </div>
        <div class="col-12">
          <button type="button" onclick="teamManager.create()" class="col-12 btn btn-success"><i
              class="fa-solid fa-plus"></i></button>
        </div>
      </form>
    </div>
    <table class="jim quadrant">
      <thead>
        <tr>
          <th class="col-1">#</th>
          <th class="col-2">Name</th>
          <th class="col-1">Citta</th>
          <th class="col-1">Colore</th>
          <th class="col-2">Allenatore</th>
          <th class="col-2">Stadio</th>
          <th class="col-1">Riserva di</th>
          <th class="col-2"></th>
        </tr>
      </thead>
      <tbody th:each="team : ${teams}">
        <tr th:id="${team.id}">
          <th scope="row" th:text="${team.id}"></th>
          <td th:text="${team.name}"></td>
          <td th:text="${team.city}"></td>
          <td th:text="${team.color}"></td>
          <td th:if="${team.coach != null}">
          	<a th:href="@{/coaches/__${team.coach.id}__}" th:text="${team.coach}"></a>
          </td>
          <td th:if="${team.coach == null}"></td>
          <td th:if="${team.stadium != null}">
          	<a th:href="@{/stadiums/__${team.stadium.id}__}" th:text="${team.stadium}"></a>
          </td>
          <td th:if="${team.stadium == null}"></td>
          <td th:if="${team.parent != null}">
          	<a th:href="@{/teams/__${team.parent.id}__}" th:text="${team.parent}"></a>
          </td>
          <td th:if="${team.parent == null}"></td>
          <td>
            <button th:onclick="'teamManager.show('+${team.id}+')'" class="btn btn-primary"><i
                class="fa-solid fa-eye"></i></button>
            <button th:onclick="'teamManager.edit('+${team.id}+')'" class="btn btn-warning"><i
                class="fa-solid fa-pen-to-square"></i></button>
            <button th:onclick="'teamManager.destroy('+${team.id}+')'" class="btn btn-danger"><i
                class="fa-solid fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
