<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="${team}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:insert="~{resource_base/header :: header}"></div>
	<div class="jim frame">
		<div class="jim quadrant">
			<button th:onclick="teamManager.index()" class="btn btn-primary">Indietro <i class="fa-solid fa-backward"></i></button>
			<button th:onclick="'teamManager.edit('+${team.id}+')'" class="btn btn-primary">Modifica <i
					class="fa-solid fa-pen-to-square"></i></button>
			<button th:onclick="'teamManager.destroy('+${team.id}+')'" class="btn btn-danger">Elimina <i
					class="fa-solid fa-trash"></i></button>
		</div>
    <table class="jim quadrant">
			<tbody>
				<tr>
					<td class="col-3 text-center font-weight-bold">Id</td>
					<td class="col-3 text-center" th:text="${team.id}"></td>
				</tr>
				<tr>
					<td class="text-center font-weight-bold">Nome</td>
					<td class="text-center" th:text="${team.name}"></td>
				</tr>
				<tr>
					<td class="text-center font-weight-bold">Citta</td>
					<td class="text-center" th:text="${team.city}"></td>
				</tr>
				<tr>
					<td class="text-center font-weight-bold">Colore</td>
					<td class="text-center" th:text="${team.color}"></td>
				</tr>
				<tr>
					<td class="text-center font-weight-bold">Allenatore</td>
					<td class="text-center" th:text="${team.coach}"></td>
				</tr>
				<tr>
					<td class="text-center font-weight-bold">Stadio</td>
					<td class="text-center" th:text="${team.stadium}"></td>
				</tr>
				<tr>
					<td class="text-center font-weight-bold">Riserva di</td>
					<td class="text-center" th:text="${team.parent}"></td>
				</tr>
			</tbody>
		</table>
	</div>
  <table class="jim quadrant" th:if="${team.reserves.size() > 0}">
    <h2 style="text-align: center;">Riserve</h2>
    <thead>
      <tr>
        <th class="col-2">#</th>
        <th class="col-3">Name</th>
        <th class="col-3">Allenatore</th>
        <th class="col-4">Riserva di</th>
      </tr>
    </thead>
    <tbody th:each="child : ${team.reserves}">
      <tr th:id="${child.id}">
        <th scope="row" th:text="${child.id}"></th>
        <td th:text="${child.name}"></td>
        <td th:if="${child.coach != null}">
          <a th:href="@{/coaches/__${child.coach.id}__}" th:text="${child.coach}"></a>
        </td>
        <td th:if="${child.coach == null}"></td>
        <td th:if="${child.parent != null}">
          <a th:href="@{/childs/__${child.parent.id}__}" th:text="${child.parent}"></a>
        </td>
        <td th:if="${child.parent == null}"></td>
      </tr>
    </tbody>
  </table>
  <table class="jim quadrant" th:if="${team.players.size() > 0}">
    <h2 style="text-align: center;">Giocatori</h2>
    <thead>
      <tr>
        <th class="col-2">#</th>
        <th class="col-3">Nome</th>
        <th class="col-3">Cognome</th>
        <th class="col-4">Squadra</th>
      </tr>
    </thead>
    <tbody th:each="player : ${team.players}">
      <tr th:id="${player.id}">
        <th scope="row" th:text="${player.id}"></th>
        <td th:text="${player.firstName}"></td>
        <td th:text="${player.lastName}"></td>
        <td th:if="${player.team != null}">
          <a th:href="@{/teams/__${player.team.id}__}" th:text="${player.team}"></a>
        </td>
        <td th:if="${player.team == null}"></td>
      </tr>
    </tbody>
  </table>
    <table class="jim quadrant" th:if="${team.sponsors.size() > 0}">
      <h2 style="text-align: center;">Sponsors</h2>
      <thead>
        <tr>
          <th class="col-2">#</th>
          <th class="col-4">Name</th>
        </tr>
      </thead>
      <tbody th:each="sponsor : ${team.sponsors}">
        <tr th:id="${sponsor.id}">
          <th scope="row" th:text="${sponsor.id}"></th>
          <td th:text="${sponsor.name}"></td>
        </tr>
      </tbody>
    </table>
</body>
</html>
